*, *::before, *::after{margin: 0; padding: 0; box-sizing: border-box; background-color: darkcyan;}
h1, h2, h3, h4{color: darkblue; font-family: 'Times New Roman', Times, serif; padding: 1rem; margin: 1rem; font-weight: bold;}
p {color: black; font-size: 1.2rem; font-family: sans-serif;}
header{background-color: darkgray; color: green; margin: 1rem; padding: 1rem; display: flex;}
footer{background-color: darkgray; color: blue; margin: 1rem; padding: 1rem; font-family: Arial, Helvetica, sans-serif; display: flex;}
main{background-color: white; color: black; margin: 1rem; padding: 1rem; font-family: sans-serif; display: flexbox;}
nav{background-color: darkgray; color: blue; font-weight: bold; margin: 1rem; padding: 1rem; border: 1rem; display: flex; font-size: 1.5rem;}
.card{columns: 3; display: flexbox; margin: 1rem; padding: 1rem; font-size: 1rem;}
a:hover{color: darkgreen; background-color: white;}
a:visited{color:blue}
input:focus{background-color: white;}
button{background-color: green; color: black; font-size: 1.5rem; margin: 0.2rem; padding: 0.2rem; font-weight: bold;}
form{display: flexbox; font-size: 1rem; background-color: lightgreen; color: black; margin: 1rem; padding: 1rem; align-items: center;}
li{color: black; font-size: 1.3rem; font-weight: bold; background-color: darkgray;}
h1{font-size: 3.5rem;}
h2{font-size: 3rem;}
h3{font-size: 2.2rem;}
h4{font-size: 1.9rem;}
table{border-radius: 2px; font-size: 1.2rem; background-color: darkgray; color: black; margin: 0.5rem; padding: 0.5rem; display: flexbox; border-width: 2px;}